<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ver tarefa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>Titulo: </ion-label>
        <ion-text>{{task.title}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Data: </ion-label>
        <ion-text>{{task.date | date: 'd/M/Y'}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Local: </ion-label>
        <ion-text>{{task.location}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Descrição: </ion-label>
        <ion-text>{{task.description}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Detalhes: </ion-label>
        <ion-text>{{task.details}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
